.search {
    height: 100vh;
    margin: 0;
    background: #DEDEDE;
    color: #5a6674;

    &-form {
        height: 100%;

        button {
            margin-left: 20px;
        }
    }
}