.search {
    height: 100vh;
    margin: 0;
    background: #DEDEDE;
    color: #5a6674;

    &-form {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin-left: 20px;
        }
    }
}