@import 'variables.scss';

.flexBox {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.flexRow {
    flex-direction: row;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    opacity: .25;
    background-color: $defaultcolor;
    height: 1px;
    width: 100%;
}