.card {
    width: 33.33333333%;
    position: relative;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    background-color: #fff;
    padding: 1.5rem !important;
    border-radius: 15px;

    &.xl {
        width: 90%;
    }
}